html {
  width: 100%;
  height: 100%;

  background: #FCA0AA; /* Old browsers */
  background: -moz-linear-gradient(top,  #FCA0AA 0%, #C4A0FC 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FCA0AA 0%,#C4A0FC 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FCA0AA 0%,#C4A0FC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCA0AA', endColorstr='#C4A0FC',GradientType=0 ); /* IE6-9 */
}