@import url('https://fonts.googleapis.com/css?family=Bentham');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
  background: #FEFEFA;
  min-width: 500px;
}

#header {
	width: 20%;
	height: 10%;
	display: table;
}

#title {
  font-family: 'Bentham', serif;
  font-size: 50px;
  color: #BDBDBD;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

#title:hover {
	color: #828282;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}

#left-arrow {
  position: absolute;
  top: 50%;
  left: 0%;
  cursor: pointer;
}

#right-arrow {
  position: absolute;
  top: 50%;
  right: 0%;
  cursor: pointer;
}

#left-content {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 37.5%;
  height: 85%;
  font-family: 'EB Garamond', serif;
  overflow: scroll;
}

#left-content img, #left-content video, #right-content img, #right-content video, #full-content img, #full-content video{
  width: 100%;
}

#right-content {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 37.5%;
  height: 85%;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  overflow: scroll;
}

#full-content {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 85%;
  font-family: 'EB Garamond', serif;
  overflow: scroll;
}

#text-overlay {
  position: absolute;
  top: 40%;
  left: 25%;
  font-family: 'EB Garamond', serif;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
}

.content-author {
  font-size: 18px;
}

#footer {
	position: absolute;
  background-color: #EEEEEA;
	bottom: 0%;
	right: 0%;
}

#footer a {
	color: black;
	text-decoration: underline;
}

.site-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}